/*

[Custom Stylesheet]

Project: SS Infotech - Multipurpose Servicing and Repairing HTML Template
Version: 1.0
Author : Md Nafeed Razy Akram

*/

@media (max-width: 700px) {	
	.header--navbar-top-info, .header--navbar-top-btn {
		display: none;
	}
}